# Node.js dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
.pnpm-debug.log
.vscode/

# Logs
logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Environment variables
.env
.env.local
.env.*.local

# Editor & OS files
.DS_Store
Thumbs.db

# Build files
dist/
build/
.cache/
.out/

# TypeScript
*.tsbuildinfo

# Debugging
.idea/
*.swp
*.swo

# Next.js
.next/
out/

# PM2 logs
pm2.log
pm2.pid

# Prisma
prisma/.next/
prisma/migrations/

# Docker
docker-compose.override.yml
